<div id="header">
	<table style="width:100%">
		<tr>
			<td style ="width=25%"><%= link_to 'Main Page','index.html' %></td>
			<td style="width=25%"><%= link_to 'Ruby', 'ruby.html' %></td>
			<td style="width=25%"><%= link_to 'HTML/CSS', 'htmlcss.html' %></td>
			<td style="width=25%"><%= link_to 'Javascript','javascript.html' %></td>
		</tr>
	</table>
	<hr />
</div>