<div id="header">
	<table style="width:100%; border:0px; padding:0px;margin:0px;">
		<tr>
			<td style ="width=25%"><%= link_to '<img src="images/mainpageicon.png" alt="Main Page">','index.html' %></td>
			<td style="width=25%"><%= link_to '<img src="images/rubyicon.png" alt="Ruby">', 'ruby.html' %></td>
			<td style="width=25%"><%= link_to '<img src="images/html-cssicon.png" alt="HTML/CSS">', 'htmlcss.html' %></td>
			<td style="width=25%"><%= link_to '<img src="images/javascripticon.png" alt="Javascript">','javascript.html' %></td>
		</tr>
	</table>
	<hr />
</div>