---
title: HTML/CSS Tutorial
---
<div class="welcome">
	<h1>HTML/CSS Tutorial for CSE3901</h1>
</div>
<br />
<p class="rubyTitle">Welcome to the HTML/CSS Tutorial for CSE3901!</p>
<p class="sectionTitle">Introduction</p>
<p class="writing">
	The purpose of this tutorial is to introduce you to HTML and CSS. We'll start with HTML. HTML is an acronym which stands for '<strong>H</strong>yper<strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage'. What does this mean? Essentially, HTML is a language that web browsers read. HTML tells web browsers how to organize content. That's as simple as it gets! HTML is made up of <strong>&lttags&gt</strong>. We'll talk more about those later.
</p>
<p class="writing">
	We'll touch more on CSS after HTML, but a brief introduction is in order. As HTML grew more advanced, browsers were capable of doing more and more fancy tricks to make content look incredibly nice. Eventually, it became cumbersome to both organize and style content in the same file. CSS was created to fix this problem. CSS is an acronym that stands for '<strong>C</strong>ascading <strong>S</strong>tyle <strong>S</strong>heets'. We'll worry about what that specifically means later. For now, just remember that HTML is used to oragnize content, while CSS is used to style it.
</p>
