---
title: TCP's Tutorial for CSS/HTML, Ruby and JavaScript
---

<div class="welcome">
  <img src="images/mainpagelogo.png" alt="TCP's Tutorial for CSE 3901">
  <p class="doc">
    <%= link_to "CSE 3901","http://web.cse.ohio-state.edu/~shareef/3901.sp15/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->