---
title: Ruby tutorial
---
<div class="welcome">
  <h1>Ruby Tutorial for CSE 3901</h1>
  <br />
  <img  class="rubyLogo" src ="images/ruby.png" alt="ruby gem">
  <p class="rubyTitle"> Welcome to the Ruby tutorial for CSE 3901!</p>
  <p class="sectionTitle">Introduction:</p>
    <p class="writing"> The purpose of this tutorial is to ease you into the use of the Ruby programming language which is used heavily in the CSE 3901 course.  While Ruby has some aspects which you are familiar with from Java, it also has many key differences as well.  The goal of this tutorial is to highlight these differences and to apply what you know about Java to Ruby.  This document will provide the  basic nuances of the Ruby programming language as well as some examples.  Welcome to the wonderful world of Ruby! 
  </p>
  <br />
  <p class="sectionTitle">Data Types and Variables</p>
  <img class=" rubySide smallImg" src="images/class.gif" alt= "ruby class tree">
  <p class="writing">The first key aspect of Ruby is to understand that everything is an object. It is object-oriented like Java, but everything is an object. This includes the simple "integer primatives" (in Ruby they are objects from the Fixnum class) you are accustomed to in Java.  Also in Ruby, there are classes as well.  Ruby uses classes for inheritance.  The image to the right is an execellent illustration of object/class heiherarchy.
  Classes will be expanded upon soon.  One of the first things you were taught in the software sequence was each primative variable has a data type, which must be declared when the variable is declared and initialized. In Ruby, there are no data types! See the example below: </p>
  <pre><code class="ruby">
  x = 31
  puts x => 31
  x = "doggie"
  puts x => doggie
  </code></pre>
  <p class="writing">  As you can see, the variable x was first made an int, then later changed to a string. There is no type declaration at any point and was changed very easily! Ruby has classes that are similar to Java primative data types:</p>
  <table>
  	<th> Java</th><th>Ruby</th>
  	<tr>
  		<td> String</td><td>String</td>
  	</tr>
  	<tr>
  		<td> int</td><td>Bignum,Fixnum</td>
  	</tr>
</div><!-- .welcome -->