---
title: Ruby tutorial
---

<div class="welcome">
  <h1>Ruby Tutorial for CSE 3901</h1>
  <br />
  <img  class="rubyLogo" src ="images/ruby.png" alt="ruby gem">
  <p class="rubyTitle"> Welcome to the Ruby tutorial for CSE 3901!</p>
  <p class="sectionTitle">Introduction:</p>
  <p class="writing"> The purpose of this tutorial is to ease you into the use of the Ruby programming language which is used heavily in the CSE 3901 course.  While Ruby has some aspects which you are familiar with from Java in the software sequence, it also has many key differences as well.  The goal of this tutorial is to highlight these differences and to apply what you know about Java to Ruby.  This document will provide the  basic nuances of the Ruby programming language as well as some examples.  Welcome to the wonderful world of Ruby! </p>
  <br />
  <p class="sectionTitle">Data Types</p>
  <p class="writing"> </p>
</div><!-- .welcome -->