<!DOCTYPE html>
	<html>
	<head>
		<title>Let's get stylin'!</title>
		<style>
			body{
				background-color:gray;
			}
			p{
				color:red;
			}
		</style>
	</head>
	<body>
		<h1>This text won't change color :(</h1>	
		<p>
			THIS text, however, will be incredibly red!
		</p>
		<p style="color:black;">This text will stay black though :(</p>
	</body>
</html>