<!DOCTYPE html>
	<html>
	<head>
		<title>Hello world!</title>
	</head>
	<body>
		<h1>This is a header!</h1>
		<p>
			Hi there! This is a paragraph. I can add a <strong>br</strong> tag to add a line break in my paragraph. Watch!
			<br>
			There it was! Also, I can use the <strong>strong</strong> tag to make certain words bold!
			The horizontal line below is there thanks to a <strong>hr</strong> tag.
		</p>
		<hr>
		<p>
			We're now in a new paragraph! <%= link_to 'Here','http://www.google.com/'%> is a link to Google.com, created from an <strong>anchor</strong> tag. Below, you can find an image that was added using the <strong>img</strong> tag. Also, there is a table that was constructed using the <strong>table</strong>, <strong>tr</strong>, and <strong>td</strong> tags.
		</p>
		<img src="http://i.imgur.com/fUkvDkw.png" alt="A bunny with a pancake on its head!">
		<table border="1px">
			<tr>
				<td>This is the first element in the table!</td>
				<td>I'm still in the first row, but now in the second column!</td>
			</tr>
			<tr>
				<td>Now we're in the second row!</td>
				<td>Still in the second row!</td>
			</tr>
		</table>
	</body>
</html>