@charset "utf-8";

body {
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 45px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 100px 0 10px;
  text-align: center;
  margin: 0; }

p.writing{
  max-width: 55%;
  font-size: 15px;
  text-align: left;
}

.rubyTitle{
  font-weight: bold;
  font-size: 25px;
}

.sectionTitle{
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

.rubyLogo{
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.JSLogo{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.rubySide{
  float: right;
}

.rubySide.smallImg{
  height: 290px;
  width: 600px;
}
table, th {
    border: 1px solid black;
    padding: 10px;
    margin: 0px 250px 0px;
}

pre{
  display:inline;
}

td{
  border: 1px solid black;
    padding: 10px;
  text-align: center;
}

